
.vs/
*.suo
*.user
*.aps
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb
DocumentLayout.json


Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/
output/


*.tlog
*.log
*.idb
*.pdb
*.ilk
*.obj
*.iobj
*.ipdb
*.recipe
*.res
*.lastbuildstate
*.FileListAbsolute.txt


packages/
*.nupkg
*.signature.p7s